@charset "UTF-8";

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #121212;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}
a {
  color: #121212;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  line-height: 1;
  margin-top: 0px;
}
.site-title a {
  display: block;
}
.sec-title {
  font-size: 2.25rem;
  margin-bottom: 20px;
  text-align: center;
}
/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
/*
「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
設定している場合は、z-indexの数値が大きい方が前面に表示される
*/
#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  padding-top: 0; /* 上部の余白をなくす */
  padding-bottom: 20px; /* 下部の余白は維持 */
  position: fixed;
  z-index: 10;
  background-color: #fff;
}
/*
ハンバーガーメニュー
解説は、「中級編：ストアサイト（インテリア）」のCSS参照
*/
#navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 60px 25px;
  background-color: #23651c;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
#navi a {
  color: #fff;
}
.open #navi {
  left: 0;
  opacity: 1;
}
#navi ul {
  margin: 0;
  padding: 0;
}
#navi ul.nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff;
}
#navi ul.nav-menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
}
#navi ul.nav-sns li {
  padding: 5px 0;
}
.toggle_btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

.main {
  padding-top: 40px;
}
  .container{
	background-image: url("../image/library_image1.jpg"); /* 画像のパスを指定 */
    background-size: cover; /* 画像をコンテナ全体にカバー */
    background-position: center; /* 画像の位置を中央に設定 */
    width: 100%; /* 幅を100%に設定 */
    height: 300px; /* 高さを指定（必要に応じて変更） */
    display: flex; /* 中のコンテンツを中央に配置するためのフレックスボックス */
    justify-content: center; /* 横方向の中央寄せ */
    align-items: center; /* 縦方向の中央寄せ */
    color: white; 
	width: 100%;
	max-width: 960px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
  }
  
.search-form-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #23651c;
    border-radius: 3px;
}

.search-form-1 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-1 input::placeholder{
    color: #777777;
}

.search-form-1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #23651c;
    cursor: pointer;
}

.search-form-1 button::after {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}

.mv_calendar_item:nth-child(2){margin-top:16px;}
.mv_calendar_item h2{
	position:relative;
	font-size:1.7rem;
	letter-spacing:.8px;
	line-height:3rem;
	font-weight:bold;
	padding-left:11px;
}
.mv_calendar_item h2::before{
	position:absolute;
	content:'';
	width:3px;
	height:14px;
	background:#F33008;
	top:9px;
	left:0;
}
.mv_calendar_item:nth-child(2) h2::before{background:#1D6EE8;}
.mv_calendar_item dl{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	margin:1px 0 9px;
}
.mv_calendar_item dt{
	position:relative;
	display:inline-block;
	width:45px;
	font-size:1.3rem;
	letter-spacing:.65px;
	line-height:1.9rem;
	text-align:center;
	padding-bottom:1px;
	border:1px solid #ddd;
	top:1px;
}
.mv_calendar_item dd{
	display:block;
	width:calc(100% - 45px);
	font-size:1.4rem;
	letter-spacing:.7px;
	line-height:2.9rem;
	padding-left:8px;
	margin-bottom:0;
}
.mv_calendar_item dd span{
	position:relative;
	font-size:1.7rem;
	letter-spacing:.9px;
	line-height:2.7rem;
	font-weight:500;
	top:1px;
}
span[class$="-closed"]{color:#EF2D1B;}
.calendar_link{
	display:block;
	font-size:1.4rem;
	letter-spacing:.8px;
	line-height:3rem;
	color:#333;
	text-align:center;
	padding:4px 0 5px;
	border:1px solid #ccc;
	border-radius:5px;
  margin-right: 20px;
  margin-bottom: 10px;
	transition:color .3s,background-color .3s,border-color .3s;
}
.calendar_link:hover{color:#fff;background-color:#23651c;border-color:#23651c;}
.calendar_link span{
	position:relative;
	display:inline-block;
	padding-left:28px;
  padding-right:28px;
}
.calendar_link span::before,
.calendar_link span::after{
	position:absolute;
	content:'';
	width:22px;
	height:22px;
	background:url(/img/index/icon_calendar.svg) no-repeat center;
	top:0;
	bottom:0;
	left:0;
	margin:auto;
	transition:opacity .3s;
}
.calendar_link span::after{background-image:url(/img/index/icon_calendar_white.svg);opacity:0;}
.calendar_link:hover span::before{opacity:0;}
.calendar_link:hover span::after{opacity:1;}

.important_container{
  margin: 0 20px;
}
.box-013 {
  max-width: 800px; /* 最大幅を800pxに設定 */
  margin: 30px auto; /* 上下の余白を30px、左右をautoで中央に配置 */
  border: 2px solid #ff0000;
  border-radius: 3px;
  padding: 0;/* 左右の余白を20pxに設定 */
}

.box-013 span {
  display: flex; /* フレックスボックスに変更 */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  padding: .5em 0; /* 上下の余白を追加 */
  background-color: #ff0000;
  color: #fff;
  font-weight: 600;
}

.box-013 p {
    margin: 0;
    padding: 1em 1.5em;
    color: #333;
}

    .news_container {
	width: 90%;
	max-width:1000px;
	margin: 50px auto;
	}
	.news_title {
	color: #23651c;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	}
	.news_list {
	margin: 20px 0;
	border-top: 1px dashed #23651c;
	}
	.news_list li {
	padding: 15px 5px;
	border-bottom: 1px dashed #2eb087;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	}
	.date {
	font-size: 16px;
	margin-right: 10px;
	}
	.category {
	display: inline-block;
	color: #fff;
	width: 120px;
	font-size: 14px;
	text-align: center;
	margin-right: 10px;
	padding: 2px 10px;
	background-color: #23651c;
	}
	.news_text a {
	color: #333;
	display: inline-block; /* 通常時はインラインブロックにしておく */
    word-break: break-word; /* 単語の途中で改行を挿入 */
    word-wrap: break-word; /* 長いテキストの折り返し */
    white-space: normal; /* 空白で折り返し */
	}

  .slide-items {
    width: 50%;
    height: 50%;
    margin: auto;
  }
  
.slick-slide img {
  width: 30vw;          
  height: 30vw;         
  max-width: 400px;     
  max-height: 400px;    
  min-width: 130px;     
  min-height: 130px;
  object-fit: cover;    
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  .slick-dots li button:before {
    font-size: 18px;
    top: 6px;
  }

  #contact {
    background-color: #fff;
    padding-bottom: 80px;
  }
  #contact .link {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  #contact .link .item {
    width: 30%;
    border: solid 1px #121212;
    display: block;
    font-size: 0.875rem;
    position: relative;
    padding: 50px 0;
    text-align: center;
    transition: 0.1s;
  }
  #contact .link .item::before {
    content: "";
    border-top: 20px solid transparent;
    border-right: 20px solid #121212;
    position: absolute;
    right: 4px;
    bottom: 4px;
  }

  #contact .link .item:hover {
    outline: solid 3px #121212;
  }
  #contact .link .item img {
    margin-bottom: 5px;
  }

  .twitter{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #footer {
    background-color: #23651c;
    color: #fff;
    padding: 20px 0;
  }
  #footer .menu {
    display: flex;
    justify-content: center;
    margin: 30px 0 60px 0;
  }
  #footer .menu li {
    border-right: solid 1px #fff;
    font-size: 0.875rem;
    padding: 0 20px;
  }
  #footer .menu li:last-child {
    border-right: none;
  }
  #footer .menu li a {
    color: #fff;
  }
  #footer .copyright {
    font-size: 0.75rem;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
      .sec-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      #header {
        padding: 20px 16px;
      }
      .toggle_btn {
        right: 20px;
      }

    .main {
      padding-top: 80px;
    }
    .news_container {
        width: 100%;
        padding: 0;
        }
        .news_text a {
        display: block;
        margin-top: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word; /* 長いテキストの折り返し */
        white-space: normal; /* 空白で折り返し */
        }
    }

    #contact {
        padding-bottom: 60px;
      }
      #contact .link {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
      }
      #contact .link .item {
        width: 60%;
        margin: 20px 0 0 0;
      }
      #contact .link .item:first-child {
        margin-top: 0;
      }
    #footer .menu {
    flex-wrap: wrap;
  }
  #footer .menu li {
    margin-bottom: 10px;
  }