@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #121212;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  color: #121212;
  text-decoration: none;
}

li {
    list-style: none;
  }
  
  /* サイドメニューの横幅分だけ左にmarginをとる */
  .main {
    margin-left: 300px;
  }
  /* コンテンツ幅を設定するための共通クラス */
  .wrapper {
    max-width: 900px;
    padding: 80px 20px;
    margin: 0 auto;
  }
  .site-title {
    width: 200px;
    line-height: 1px;
    margin-bottom: 30px;
  }
  .site-title a {
    display: block;
  }

  #header {
    width: 300px;
    height: 100%;
    background-color: #fff;
    padding: 40px 50px 30px 45px;
    position: fixed;
    top: 0;
    /* 画面の高さが低くてメニューが隠れてしまった場合に、縦スクロールが出るよう設定 */
    overflow-y: auto;
  }
  #header .nav-menu {
    margin-bottom: 60px;
  }
  #header li {
    font-size: 0.875rem;
    padding: 8px 0;
  }

  .container{
	background-image: url("../image/library_image.jpg"); /* 画像のパスを指定 */
    background-size: cover; /* 画像をコンテナ全体にカバー */
    background-position: center; /* 画像の位置を中央に設定 */
    width: 100%; /* 幅を100%に設定 */
    height: 300px; /* 高さを指定（必要に応じて変更） */
    display: flex; /* 中のコンテンツを中央に配置するためのフレックスボックス */
    justify-content: center; /* 横方向の中央寄せ */
    align-items: center; /* 縦方向の中央寄せ */
    color: white; 
	width: 100%;
	max-width: 960px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
  }
  
.search-form-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #006036;
    border-radius: 3px;
}

.search-form-1 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-1 input::placeholder{
    color: #777777;
}

.search-form-1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #006036;
    cursor: pointer;
}

.search-form-1 button::after {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}

.heading-1 {
    padding: .5em .7em;
    border-left: 5px solid #2589d0;
    color: #333333;
}

.heading-2 {
    padding: .5em .7em;
    border-left: 5px solid #ff0000;
    color: #333333;
}

.box-013 {
    max-width: 800px;
    margin: 30px auto; /* 上下の余白を30pxに */
    border: 2px solid #ff0000;
    border-radius: 3px;
    padding: 0; /* 左右の余白を追加 */
}

.box-013 span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 0;
    background-color: #ff0000;
    color: #fff;
    font-weight: 600;
}

.box-013 p {
    margin: 0;
    padding: 1em 1.5em;
    color: #333;
}

  .news_container {
	width: 90%;
	max-width:800px;
	margin: 50px auto;
  padding: 0;
	}
	.news_title {
	color: #006036;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	}
	.news_list {
	margin: 20px 0;
	border-top: 1px dashed #006036;
	}
	.news_list li {
	padding: 15px 5px;
	border-bottom: 1px dashed #2eb087;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	}
	.date {
	font-size: 16px;
	margin-right: 10px;
	}
	.category {
	display: inline-block;
	color: #fff;
	width: 120px;
	font-size: 14px;
	text-align: center;
	margin-right: 10px;
	padding: 2px 10px;
	background-color: #006036;
	}
	.news_text a {
	color: #333;
	display: inline-block; /* 通常時はインラインブロックにしておく */
    word-break: break-word; /* 単語の途中で改行を挿入 */
	}

  .slide-items {
    width: 50%;
    height: 50%;
    margin: auto;
  }
  
.slick-slide img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  .slick-dots li button:before {
    font-size: 18px;
    top: 6px;
  }

  #contact {
    background-color: #fff;
    padding-bottom: 80px;
  }
  #contact .link {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  #contact .link .item {
    width: 30%;
    border: solid 1px #121212;
    display: block;
    font-size: 0.875rem;
    position: relative;
    padding: 50px 0;
    text-align: center;
    transition: 0.1s;
  }
  #contact .link .item::before {
    content: "";
    border-top: 20px solid transparent;
    border-right: 20px solid #121212;
    position: absolute;
    right: 4px;
    bottom: 4px;
  }
 
  #contact .link .item:hover {
    outline: solid 3px #121212;
  }
  #contact .link .item img {
    margin-bottom: 5px;
  }

  #footer {
    background-color: #006036;
    color: #fff;
    padding: 20px 0;
  }
  #footer .menu {
    display: flex;
    justify-content: center;
    margin: 30px 0 60px 0;
  }
  #footer .menu li {
    border-right: solid 1px #fff;
    font-size: 0.875rem;
    padding: 0 20px;
  }
  #footer .menu li:last-child {
    border-right: none;
  }
  #footer .menu li a {
    color: #fff;
  }
  #footer .copyright {
    font-size: 0.75rem;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
  /*-------------------------------------------
    ヘッダー
    -------------------------------------------*/
    #header {
      width: 100%;
      height: 72px;
      padding: 0;
      z-index: 10;
    }
    /*
    ハンバーガーメニュー
    ※ハンバーガーメニューの説明は他の課題と重複するため割愛
    */
    #navi {
      width: 300px;
      background: #fff;
      padding: 25px;
      position: fixed;
      top: 0;
      left: -300px;
      bottom: 0;
      opacity: 0;
      overflow-y: auto;
      transition: 0.5s;
      z-index: 20;
    }
    .open #navi {
      left: 0;
      opacity: 1;
    }
    #navi ul.nav-menu {
      margin-bottom: 30px;
    }
    #navi ul li {
      padding: 10px 0;
    }
    .hamburger {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: fixed;
      top: 22px;
      right: 18px;
      transition: 0.5s;
      z-index: 30;
    }
    .hamburger span {
      width: 30px;
      height: 2px;
      background-color: #121212;
      border-radius: 4px;
      display: block;
      position: absolute;
      left: 0;
      transition: 0.5s;
    }
    .hamburger span:nth-child(1) {
      top: 4px;
    }
    .hamburger span:nth-child(2) {
      top: 14px;
    }
    .hamburger span:nth-child(3) {
      bottom: 4px;
    }
    .open .hamburger span {
      background-color: #fff;
    }
    .open .hamburger span:nth-child(1) {
      transform: translateY(10px) rotate(-315deg);
    }
    .open .hamburger span:nth-child(2) {
      opacity: 0;
    }
    .open .hamburger span:nth-child(3) {
      transform: translateY(-10px) rotate(315deg);
    }
    #mask {
      display: none;
      transition: 0.5s;
    }
    .open #mask {
      width: 100%;
      height: 100%;
      background-color: #000;
      cursor: pointer;
      display: block;
      opacity: 0.8;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
    }
  
    .main {
      margin-left: 0px;
    }
    .news_container {
        width: 100%;
        padding: 0;
        }
        .news_text a {
        display: block;
        margin-top: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word; /* 長いテキストの折り返し */
        white-space: normal; /* 空白で折り返し */
        }
    }

    #contact {
        padding-bottom: 60px;
      }
      #contact .link {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
      }
      #contact .link .item {
        width: 60%;
        margin: 20px 0 0 0;
      }
      #contact .link .item:first-child {
        margin-top: 0;
      }
    #footer .menu {
    flex-wrap: wrap;
  }
  #footer .menu li {
    margin-bottom: 10px;
  }